
.centerBoxHeading{/*background-color: #c9c9c9;border-bottom:1px solid #FF6501;width:96.5%;margin:0 auto;font-size:18px;font-weight:400;padding-bottom:11px;color:#20231d;text-shadow:none;margin-top:0px;*/}

